.combobox select {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #888;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    transition: background-color 0.5s ease;
}
.combobox select:hover { background-color: #aaa; }

#plane-box { margin: 5px 5px 0px; float: right; }
#response-box { margin: 5px 5px 0px; float: right; }
