body {
    overflow: hidden;
    background-color: #222;
}

#container{
    background-color: #fff;
    width: 70%;
    margin: 10vh 0% 20% 15%;
    height: 70vh;
    border: 2px solid #aaa;
    border-radius: 7px;
    padding: 2px;
}

#plot{ width: 50%; height: 100%; float: left; }
#result{ width: 50%; height: 100%; float: right; }

#clear-op { margin: 5px 0px; float: left; }

#plane-response-type { margin: 5px 0px; float: right; }

